<a href="https://colab.research.google.com/github/Manish-k723/ML-models/blob/main/LR_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Dataset - IRIS Flower Dataset

In [3]:
# STEP - 1 -> Inserting Data and creating dataframe
import pandas as pd
df =pd.read_csv('/content/IRIS (1).csv')
df.head(1)

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa

In [5]:
#Step 2 is not required due to small dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [18]:
#Step-3 Not mandatory step -> Data visualization
# import matplotlib.pyplot as plt
# a=df.groupby(['species']).size()
# plt.bar(data=df,x='species',y=a)

In [ ]:
#Step-4 Dividing data into I/P and O/P
x=df.iloc[:,0:4]
x

In [39]:
#Output data is Species
y=df.iloc[:,4]
y

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: species, Length: 150, dtype: object

In [23]:
#Step-5 Training and testing values
from sklearn.model_selection import train_test_split
x1,x2,y1,y2=train_test_split(x,y,random_state=0)

In [24]:
#Step-6 No need of Normalizing because input data is already scaled

In [26]:
#Step-7 Run a classifier/Regressor/Clusterer
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [27]:
#Step-8 Fitting the values
model.fit(x1,y1)

LogisticRegression()

In [ ]:
#Step-9 Predicting the output
y_pred=model.predict(x2)
y_pred

In [ ]:
y2

In [34]:
from sklearn.metrics import accuracy_score
accuracy_score(y_pred,y2)*100

97.36842105263158

In [36]:
#Individual production
model.predict([[5.1,3.5,1.4,0.2]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  "X does not have valid feature names, but"

array(['Iris-setosa'], dtype=object)

In [40]:
model.predict([[5.6,2.9,3.6	,1.3]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  "X does not have valid feature names, but"

array(['Iris-versicolor'], dtype=object)